.grid{
    padding: 0%;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cell{
  height: 100px;
  width: 100px;
  flex:1;
  border: 2px solid #000;
  background-color: transparent;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-0,.cell-1,.cell-2 {
    border-top: none;
}
.cell-6,.cell-7,.cell-8 {
    border-bottom: none;
}
.cell-0,.cell-3,.cell-6{
    border-left: none;
}
.cell-2,.cell-5,.cell-8{
    border-right: none;
}
